<!DOCTYPE html>
<html lang="en">
    <style>
    h1 {line-height: 0.1cm}
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H1>Welcome, this is some my infomation</H1>
    <img src="/static/draven.jpg" >
    <h2>    Name: Nguyễn Khương Linh</h2>
    <h2>    Age: 25</h2>
    <h2>    Email: khuonglinh94@gmail.com</h2>
    <hr>
    <p>Sorry, I'm too lazy to create a beautiful HTML :P</p>
</body>
</html>